		<div class="panel-container">
			<a href="#">
			<div class ="panel-box">
				<i class="fa-solid fa-user panel-icons"></i>
				<span class="panel-text">Profile</span>
			</div>
			</a>

			<hr class="line-separator">
			
			<a href="/viewPOS">
			<div class ="panel-box"> 
				<i class="fa-solid fa-cash-register panel-icons"></i>
				<span class="panel-text">POS</span>
			</div>
			</a>

			<a href="/logout">
			<div class ="logout-button">
				<i class="fa-solid fa-right-from-bracket logout-icon"></i>
				<span>Log Out</span>
			</div>
			</a>
		</div>