<div class="panel-container">
    <a href="/home">
        <div class="panel-box">
            <i class="fa-solid fa-house panel-icons"></i>
            <span class="panel-text">Home</span>
        </div>
    </a>

    <hr class="line-separator" />

    <a href="/viewPOS/1">
        <div class="panel-box">
            <i class="fa-solid fa-cash-register panel-icons"></i>
            <span class="panel-text">POS</span>
        </div>
    </a>

    <a href="/logout">
        <div class="logout-button">
            <i class="fa-solid fa-right-from-bracket logout-icon"></i>
            <span>Log Out</span>
        </div>
    </a>
</div>