<div class="panel-container">

    <a href="/home">
        <div class="panel-box">
            <i class="fa-solid fa-house panel-icons"></i>
            <span class="panel-text">Home</span>
        </div>
    </a>

    <hr class="line-separator" />
    <a href="/inventoryList">
        <div class="panel-box">
            <i class="fa-solid fa-box panel-icons"></i>
            <span class="panel-text">Inventory List</span>
        </div>
    </a>
    <a href="/firstPurchase">
        <div class="panel-box">
            <i class="fa-solid fa-circle-plus panel-icons"></i>
            <span class="panel-text">Record First Purchase</span>
        </div>
    </a>
    <a href="/recordPurchase">
        <div class="panel-box">
            <i class="fa-solid fa-cart-plus panel-icons"></i>
            <span class="panel-text">Record Purchase</span>
        </div>
    <a href="/reportsPageinvManager">
        <div class="panel-box">
            <i class="fa-solid fa-flag panel-icons"></i>
            <span class="panel-text">Reports Page</span>
        </div>
    </a>
    </a>
    <a href="/inventorySpoiled">
        <div class="panel-box">
            <i class="fa-solid fa-trash-can panel-icons"></i>
            <span class="panel-text">Spoilage</span>
        </div>
    </a>
    <a href="/inventoryMissing/1">
        <div class="panel-box">
            <i class="fa-solid fa-circle-question panel-icons"></i>
            <span class="panel-text">Missing</span>
        </div>
    </a>
    <a href="/logout">
        <div class="logout-button">
            <i class="fa-solid fa-right-from-bracket logout-icon"></i>
            <span>Log Out</span>
        </div>
    </a>
</div>