<div class="panel-container">
    <a href="/home">
        <div class="panel-box">
            <i class="fa-solid fa-house panel-icons"></i>
            <span class="panel-text">Home</span>
        </div>
    </a>

    <hr class="line-separator" />

    <a href="/transactionTrail">
        <div class="panel-box">
            <i class="fa-solid fa-cash-register panel-icons"></i>
            <span class="panel-text">Transaction Trail</span>
        </div>
    </a>

    <a href="/createNewUser">
        <div class="panel-box">
            <i class="fa-solid fa-user-plus panel-icons"></i>
            <span class="panel-text">Create User</span>
        </div>
    </a>

    <a href="/ownerInventoryList">
        <div class="panel-box">
            <i class="fa-solid fa-box panel-icons"></i>
            <span class="panel-text">Inventory List</span>
        </div>
    </a>

    <a href="/ownerMenu">
        <div class="panel-box">
            <i class="fa-solid fa-rectangle-list panel-icons"></i>
            <span class="panel-text">Menu List</span>
        </div>
    </a>

    <a href="/reportsPage">
        <div class="panel-box">
            <i class="fa-solid fa-flag panel-icons"></i>
            <span class="panel-text">Reports</span>
        </div>
    </a>

    <a href="/employeeList">
        <div class="panel-box">
            <i class="fa-solid fa-address-book panel-icons"></i>
            <span class="panel-text">Employee List</span>
        </div>
    </a>

    <a href="/logout">
        <div class="logout-button">
            <i class="fa-solid fa-right-from-bracket logout-icon"></i>
            <span>Log Out</span>
        </div>
    </a>
</div>