<div class="panel-container">
    <a href="#">
        <div class="panel-box">
            <i class="fa-solid fa-house panel-icons"></i>
            <span class="panel-text">Home</span>
        </div>
    </a>

    <hr class="line-separator" />

    <a href="#">
        <div class="panel-box">
            <i class="fa-solid fa-cash-register panel-icons"></i>
            <span class="panel-text">Transaction Trail</span>
        </div>
    </a>

    <a href="/createNewUser">
        <div class="panel-box">
            <i class="fa-solid fa-user-plus panel-icons"></i>
            <span class="panel-text">Create User</span>
        </div>
    </a>

    <a href="#">
        <div class="panel-box">
            <i class="fa-solid fa-box panel-icons"></i>
            <span class="panel-text">Inventory</span>
        </div>
    </a>

    <a href="#">
        <div class="panel-box">
            <i class="fa-regular fa-rectangle-list panel-icons"></i>
            <span class="panel-text">Menu List</span>
        </div>
    </a>

    <a href="#">
        <div class="panel-box">
            <i class="fa-regular fa-trash-can panel-icons"></i>
            <span class="panel-text">Spoilage</span>
        </div>
    </a>

    <a href="#">
        <div class="panel-box">
            <i class="fa-regular fa-trash-can panel-icons"></i>
            <span class="panel-text">Missing</span>
        </div>
    </a>

    <a href="/logout">
        <div class="logout-button">
            <i class="fa-solid fa-right-from-bracket logout-icon"></i>
            <span>Log Out</span>
        </div>
    </a>
</div>