<!DOCTYPE html>
<html>
	<head>
        <title>Cashier | Dashboard</title>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/employeeDashboard.css">
		<script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
	</head>
	<body>

		<!-- START SIDE PANEL -->
		{{>cashierPanel}}
		<!-- END SIDE PANEL -->

        <div class="content-container">
            <div class="containers">

               <!-- PROFILE GRID -->
               <div class="Profile">
                <div class="grid-content">
                    <h1> Employee Profile </h1>

                    
                    <div class="user-icon">
                        <i class="fa-solid fa-circle-user prof-pic"></i>
                    </div>

                    <h2> {{Emp.firstName}} {{Emp.lastName}} </h2>
                    <p class="title"> Employee Name</p>

                    <h2> {{Emp.userType}} </h2>
                    <p class="title"> Position </p>

                    <h2> {{Emp.userID}} </h2>
                    <p class="title"> Employee ID </p>

                    <button class="prof-button" id="change"> Change Password </button>

                    <script type="text/javascript">
                        document.getElementById("change").onclick = function(){
                            location.href = "/changePassword";
                        };
                    </script>
                </div>
            </div>
            <!-- END PROFILE GRID -->


            </div>
        </div>
	</body>
	</html>
