<html>
    <head>
        <title>Panel</title>
        <link rel="stylesheet" href="css/changePassword.css" />
        <link rel="stylesheet" href="css/base.css" />
        <script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <div class="content-container">
            <div class="changePass-box">
                <span class="header-font">Change Password</span>
                <form action="/updatePassword" method="post">
                    <div class="field-box">
                        <div>
                            <label for="oldPass" class="field-font">Enter old password: </label>
                        </div>

                        <div>
                            <input
                                type="password"
                                class="textbox-long"
                                id="oldPass"
                                name="oldPass"
                            />
                        </div>
                    </div>

                    <div class="field-box">
                        <div>
                            <label for="newPass" class="field-font">Input new password: </label>
                        </div>

                        <div>
                            <input
                                type="password"
                                class="textbox-long"
                                id="newPass"
                                name="newPass"
                            />
                        </div>
                    </div>

                    <div class="field-box">
                        <div>
                            <label for="confirmPass" class="field-font">Confirm new password:
                            </label>
                        </div>

                        <div>
                            <input
                                type="password"
                                class="textbox-long"
                                id="confirmPass"
                                name="confirmPass"
                            />
                        </div>

                    </div>
                    <input type="submit" class="button-green popup" />
                </form>

            </div>
        </div>
    </body>
</html>