<html>
    <head>
        <title>Create New User</title>
        <link rel="stylesheet" href="css/createnewUser.css" />
        <link rel="stylesheet" href="css/base.css" />
        <script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
    </head>
    <body>

        {{>ownerPanel}}

        <div class="content-container">
            <div class="createnew-box">
                <h1 class="header-font">Create New User</h1>
                <p class="directions"> All fields are required to be filled in.</p>
                

                <form action="/newUser" method="post">
                    <div class="field-box">

                        <div>
                            <label for="newUserfirst" class="field-font">First Name: </label>
                        </div>

                        <div>
                            <input
                                type="text"
                                class="textbox-long"
                                id="newUserfirst"
                                name="newUserfirst"
                                required
                            />
                        </div>
                    </div>

                    <div class="field-box">
                        <div>
                            <label for="newUserlast" class="field-font">Last Name: </label>
                        </div>

                        <div>
                            <input
                                type="text"
                                class="textbox-long"
                                id="newUserlast"
                                name="newUserlast"
                                required
                            />
                        </div>
                    </div>

                    <div class="field-box">
                        <div>
                            <label for="employeetype" class="field-font">Employee Type:</label>
                        </div>

                        <div>
                            <select name="employeetype" id="employeetype" class="option-dropdown" required>
                
                                <option value="1">Inventory Manager</option>
                                <option value="2">Cashier</option>
                            </select>
                        </div>
                    </div>

                    <!-- Employee ID -->
                    <div class="field-box">
                        <div>
                            <label for="netweight" class="field-font">Employee ID:</label>
                        </div>

                        <div class="input-container">

                            <input type="text" class="textbox-long" id="txt1" name="assignedID" />
                            <input
                                type="button"
                                class="input-button"
                                value="Assign ID"
                                onclick="insertText('txt1','0000' + {{empID}});"
                                required
                            />

                            <!-- Assigns randomly generated employee ID on button click-->
                            <script>
                                function insertText(elemID, text) { var elem =
                                document.getElementById(elemID); elem.value += text; }
                            </script>
                        </div>
                    </div>
                    <!-- END of employee ID-->

                    <div class="field-box">
                        <div>
                            <label for="newUserPassword" class="field-font">Initial Password: </label>
                        </div>

                        <div>
                            <input
                                type="text"
                                class="textbox-long"
                                id="newUserPassword"
                                name="newUserPassword"
                                required
                            />
                        </div>
                    </div>
                    <br>

                    <input type="submit" class="button-green popup" />
                </form>
            </div>
        </div>
    </body>
</html>