<!DOCTYPE html>
<html>
    <head>
        <title>Panel</title>
        <link rel="stylesheet" href="css/missing.css" />
        <link rel="stylesheet" href="css/base.css" />
        <script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
    </head>
    <body>

        {{>invManagerPanel}}

        <div class="page-container">
            <div><span class="header-font">Inventory Item Missing</span></div>
            <div class="category-box">
                {{each foodGroup}}
                <div>
                    <button class="category-item"><span class="category-text">{{foodGroup.foodGroupName}}</span></button>
                </div>
                {{/each}}
            </div>

            <div class="inventory-container">
                <table class="inventory-table">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Type</th>
                            <th>Physical Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{each Category}}
                        <tr>
                            <td rowspan="3"> {{Category.categoryName}} </td>
                            <td>  </td>
                            <td><input type="number">  </td> 
                        </tr>
                        {{/each}}
                        <tr>
                            <td rowspan="3"> Coke </td>
                            <td> Sakto </td>
                            <td><input type="number">  </td> 
                        </tr>
                        <tr>
                            <td> Litro </td>
                            <td><input type="number">  </td>
                        </tr>
                        <tr>
                            <td> Mismo </td>
                            <td><input type="number">  </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="submit-button">
            <button class="button-submit">Submit</button>
            </div>
        </div>

    </body>
</html>
