<!DOCTYPE html>
<html>
    <head>
        <title>Inventory Manager | Record First Purchase</title>
        <link rel="stylesheet" href="css/createInventory.css" />
        <link rel="stylesheet" href="css/base.css" />
        <script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
    </head>
    <!-- Content Here -->
    <body>
    
    {{>invManagerPanel}} 

    <div class="content-container">
        <div class="createnew-box">
            <span class="header-font">Record First Purchase</span>
            <form action="/addFirstPurchase" method="post">
            <div class="field-box">
                <div>
                    <label for="category" class = "field-font">Category:</label>
                </div>

                <div>
                    <select name="category" id="category" class="dropdown">
                        {{#each category}}
                        <option value={{categoryID}}>{{categoryName}}</option>
                        {{/each}}
                    </select>
                </div>

                <div>
                    <a href="/createCategory" class="inv-submit">Create New Category</a>
                </div>
            </div>
        

            <div class="field-box">
                <div>
                    <label for="itemname" class = "field-font">Item Name:</label>
                </div>

                <div>
                    <input type="text" class="textbox-long" id="itemname" name="itemname">
                </div>
            </div>

            <div class="field-box">
                <div>
                    <label for="netweight" class = "field-font">Net Weight:</label>
                </div>
                <div>
                    <input type="decimal" class="textbox-short" id="netweight" name="netweight" placeholder="0.00">
                </div>
                <div>
                    <select name="netunit" id="netunit" class="dropdown">
                        {{#each unit}}
                        <option value={{unitID}}>{{unitName}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <input type="submit" class="button-green popup" value="Submit"/>
            </form>
            
			{{!-- <button class="button-green popup" onclick="myFunction()">Record Purchase
				<span class="popuptext" id="myPopup">First Purchase Recorded!</span>
			</button>
			<script>
				// When the user clicks on <div>, open the popup
				function myFunction() {
				  var popup = document.getElementById("myPopup");
				  popup.classList.toggle("show");
				}
			</script> --}}
            
        </div>
    </div>

    <!-- <div class="create-inventory-container">
        <h1 style="font-size: 30px; color: var(--clr-green) ">Create New Inventory Item</h1>
        <span class="brand-name-text">Brand Name</span>
        <div class="brand-name-box">
            <div class="dropdown">
                <span class="brand-name-box"></span>
                <div class="dropdown-content">
                    <p>Brand Name 1</p>
                </div>
            </div>
        </div>
        <span class="category-text">Category</span>
        <div class="category-box">
            <div class="dropdown">
                <span class="category-box"></span>
                <div class="dropdown-content">
                    <p>Category 1</p>
                </div>
            </div>
        </div>
        <span class="net-weight-text">Net Weight</span>
        <div class="net-weight-box"></div>
        <div class="unit-measure-box">
            <div class="dropdown">
                <span class="unit-measure-box"></span>
                <div class="dropdown-content">
                    <p>Unit Measure 1</p>
                </div>
            </div>
        </div>
    </div>
</div> -->

</body>
</html>