<!DOCTYPE html>
<html>
    <head>
        <title>Inventory Manager | New Food Group</title>
        <link rel="stylesheet" href="css/createFoodGroup.css" />
        <link rel="stylesheet" href="css/base.css" />
        <script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
        <script src="js/multiselect-dropdown.js" ></script>

    </head>
    <body>
        <!-- START PANEL -->
{{>invManagerPanel}}
        <!-- END PANEL -->

        
        <div class="content-container">
            <div class="createnew-box">
                <span class="header-font">Create New Food Group</span>
                
                <!-- START FOLDER NAME-->
                <div class="field-box">
                    <div>
                        <label for="foldername" class = "field-font">Food Group:</label>
                    </div>
    
                    <div>
                        <input type="text" class="textbox-long" id="foldername" name="foldername">
                    </div>
                </div>
                <!-- END FOLDER NAME-->

                <!-- Multiselect Dropdown with Search
                    TO FIX: Appearance of Search but can be converted into hbs na -->

                <!-- END Multiselect Dropdown with Search -->


                <button class="button-green popup" onclick="myFunction()">Create Food Group
                    <span class="popuptext" id="myPopup">New Food Group Created!</span>
                </button>
                <script>
                    // When the user clicks on <div>, open the popup
                    function myFunction() {
                      var popup = document.getElementById("myPopup");
                      popup.classList.toggle("show");
                    }
                </script>
    
            </div>
        </div>
    </body>
    </html>