<!DOCTYPE html>
<html>
    <head>
        <title>Inventory Manager | New Food Group</title>
        <link rel="stylesheet" href="css/createFoodGroup.css" />
        <link rel="stylesheet" href="css/base.css" />
        <script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
        <script src="js/multiselect-dropdown.js" ></script>

    </head>
    <body>
        <!-- START PANEL -->
{{>invManagerPanel}}
        <!-- END PANEL -->

        
        <div class="content-container">
            <div class="createnew-box">
                <span class="header-font">Create New Food Group</span>
                <form action="/addFoodGroup" method="post">
                <!-- START FOLDER NAME-->
                <div class="field-box">
                    <div>
                        <label for="foldername" class = "field-font">Food Group:</label>
                    </div>
    
                    <div>
                        <input type="text" class="textbox-long" id="foldername" name="foldername">
                    </div>
                </div>
                <!-- END FOLDER NAME-->

                <!-- Multiselect Dropdown with Search
                    TO FIX: Appearance of Search but can be converted into hbs na -->

                <!-- END Multiselect Dropdown with Search -->

                <input type="submit" value="Create Food Group" class="button-green popup">
             
                
                </script>
                </form>
            </div>
        </div>
    </body>
    </html>