<!DOCTYPE html>
<html>
    <head>
        <title>Inventory Manager | New Food Group</title>
        <link rel="stylesheet" href="css/createFoodGroup.css" />
        <link rel="stylesheet" href="css/base.css" />
        <script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
        <script src="js/multiselect-dropdown.js" ></script>

    </head>
    <body>
        <!-- START PANEL -->
{{>invManagerPanel}}
        <!-- END PANEL -->

        
        <div class="content-container">

            <div class="back-area">
                     <a href="/firstPurchase" class="back-button">
                        <i class="fa-solid fa-arrow-left" style="color: rgb(79, 79, 79)"> </i> 
                     Go Back
                     </a>
            </div>  

            <div class="createnew-box">
                <h1 class="header-font">Create New Food Group</h1>
                <form action="/addFoodGroup" method="post">
                <!-- START FOLDER NAME-->
                <div class="field-box">
                    <div>
                        <label for="foldername" class = "field-font">Food Group:</label>
                    </div>
    
                    <div>
                        <input type="text" class="textbox-long" id="foldername" name="foldername">
                    </div>
                </div>
                <!-- END FOLDER NAME-->

                <!-- Multiselect Dropdown with Search
                    TO FIX: Appearance of Search but can be converted into hbs na -->

                <!-- END Multiselect Dropdown with Search -->

                <div class = "button-placement">
                    <div>
                        <input type="submit" class="button-green popup" value="Submit"/>
                    </div>
                    <!-- <div>
                        <a href="/createCategory" class="back popup">Back</a>
                    </div> -->
                </div>
                
                
                </script>
                </form>
            </div>
        </div>
    </body>
    </html>