<html>
    <head>
        <title>Inventory Manager | New Category</title>
        <link rel="stylesheet" href="css/createnewCategory.css" />
        <link rel="stylesheet" href="css/base.css" />
        <script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
    </head>
    <body>

        {{>invManagerPanel}}

        <div class="content-container">
            <div class="createnew-box">
                <span class="header-font">Create New Category</span>
                <form action="#" method="post">
                <div class="field-box">
                    <div>
                        <label for="categoryname" class="field-font">Category Name:</label>
                    </div>

                    <div>
                        <input
                            type="text"
                            class="textbox-long"
                            id="categoryname"
                            name="categoryname"
                        />
                    </div>
                </div>

                <div class="field-box">
                    <div>
                        <label for="foodgroup" class="field-font">Food Group:</label>
                    </div>

                    <div>
                        <select name="foodgroup" id="foodgroup" class="dropdown">
                            
                            {{#each foodGroup}}
                                <option value="{{foodGroupID}}"> {{foodGroupName}} </option>
                            {{/each}}
                            
                        </select>
                    </div>
                </div>

                <div class="field-box">
                    <div>
                        <label for="netweight" class="field-font">Unit:</label>
                    </div>
                    <div>
                        <select name="netunit" id="netunit" class="dropdown">
                            {{#each Unit}}
                                <option>{{unitName}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <input type="submit" class="button-green popup"/>

                </form>
            </div>
        </div>
    </body>
</html>