<!DOCTYPE html>
<html>
    <head>
        <title>Inventory Manager | Spoilage</title>
        <link rel="stylesheet" href="css/spoilage.css" />
        <link rel="stylesheet" href="css/base.css" />
        <script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
    </head>
    <!-- Content Here -->
    <body>

        {{>invManagerPanel}}

        <div class="content-container">
            <div class="createnew-box">
                <h1 class="header-font">Inventory Item Spoilage</h1>
                <p class="directions"> All fields are required to be filled in unless stated optional.</p>
                
                <p class="report-date"> As of: {{dateToday}}</p>

                 <form action="/submitSpoilage" method="post">
                <div class="field-box">
                    <div>
                        <label for="search-item" class = "field-font">Item Name</label>
                    </div>
                    <select name="itemName" id="itemName" class="dropdown">
                        {{#each item}}
                        <option value={{categoryID}}>{{categoryName}} ({{unitName}})</option>
                        {{/each}}
                    </select>
                </div>
                <div class="field-box">
                    <div>
                       <label for="quantity-item" class = "field-font">Quantity </label>
                    </div>
                    <div>
                        <input type="text" class="textbox-short" id="quantity" name="quantity" placeholder="0.00" required>
                    </div> 
                </div>
                <div class="field-box">
                   
                </div>
                <input type="submit" class="button-green popup" value="Submit" />
                </form>
            </div>
        </div>
</body>
</html>