<!DOCTYPE html>
<html>
    <head>
        <title>Inventory Manager | Record Purchase</title>
        <link rel="stylesheet" href="css/addtoinventory.css" />
        <link rel="stylesheet" href="css/base.css" />
        <script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
    </head>
    <!-- Content Here -->
    <body>

    {{>invManagerPanel}}

    <div class="content-container">
        <div class="createnew-box">
            <h1 class="header-font">Record Purchase</h1>
            <p class="directions"> All fields are required to be filled in.</p>

             <form action="/additionalPurchase" method="post">
            <div class="field-box">
                <div>
                    <label for="search-item" class = "field-font">Search Item:</label>
                </div>
                <div>
                    <select name="itemname" id="itemname" class="dropdown">
                        {{#each ingredient}}
                        <option value={{ingredientID}}>{{ingredientName}}</option>
                        {{/each}}
                    </select>
                </div>

                <div>
                     <a href="/firstPurchase" class="inv-submit">Create New Item</a>
                </div>
            </div>
            <div class="field-box">
                <div>
                    <label for="quantity-item" class = "field-font">Quantity:</label>
                </div>
                <div>
                    <input type="number" class="textbox-short" id="quantity" name="quantity" min = "1" value ="1"> 
                </div>
            </div>
            <input type="submit" class="button-green popup" value="Submit"/>
            </form>
			{{!-- <button class="button-green popup" onclick="myFunction()">Record Purchase
				<span class="popuptext" id="myPopup">Purchase Recorded!</span>
			</button>
			<script>
				// When the user clicks on <div>, open the popup
				function myFunction() {
				  var popup = document.getElementById("myPopup");
				  popup.classList.toggle("show");
				}
			</script> --}}
            
        </div>
    </div>
</body>
</html>