<!DOCTYPE html>
<html>
    <head>
        <title>Inventory Manager | Spoilage</title>
        <link rel="stylesheet" href="css/spoilage.css" />
        <link rel="stylesheet" href="css/base.css" />
        <script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
    </head>
    <!-- Content Here -->
    <body>

        {{>invManagerPanel}}

        <div class="content-container">
            <div class="createnew-box">
                <span class="header-font">Inventory Item Spoilage</span>
                 <form action="#" method="post">
                <div class="field-box">
                    <div>
                        <label for="search-item" class = "field-font">Item Name</label>
                    </div>
                    <select name="itemName" id="itemName" class="dropdown">
                        {{#each item}}
                        <option value={{categoryName}}>{{categoryName}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="field-box">
                    <div>
                       <label for="quantity-item" class = "field-font">Amount </label>
                    </div>
                    <div>
                        <input type="number" class="textbox-short" id="quantity" name="quantity" value="1" min="1">
                    </div> 
                </div>
                <div class="field-box">
                    <div>
                        <label for="desc" class = "field-font">Description </label>
                    </div>
                    <div>
                        <textarea class="textarea-long" id="description" name="description"></textarea>
                    </div>
                </div>
                <input type="submit" class="button-green popup" value="Submit" />
                </form>
            </div>
        </div>
</body>
</html>