<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/ingredients.css">
		<script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
	</head>
	<body>

		{{>ownerPanel}}

		<div class="content-container">
			<div class="ingredients-container">
				<h1>Ingredients</h1>

				<!-- TABLE OF TRANSACTIONS -->
				<div class = "table-container">
				    <table>
					    <col style="width:15%">
					    <col style="width:10%">
					    <col style="width:1%">

					    <thead>
					    <tr>
						    <th>Item Name</th>
						    <th>Unit</th>
						    <th>Quantity</th>
					    </tr>
					    </thead>

					    <tr>
						    <td>Pasta Linguine</td>
						    <td>500g</td>
						    <td>1</td>
					    </tr>

                        <tr>
						    <td>Fresh Milk</td>
						    <td>1L</td>
						    <td>10</td>
					    </tr>
				    </table>

                    <!-- START Add Ingredient Button-->
                    <div>
                        <button class="add-button">
                            + Add Ingredient 
				<!-- SHOULD LEAD TO SCREEN THAT ADDS ROW AND 
				SEARCH INPUT BOX TO INGREDIENTS TABLE (add-ingredient.html)-->
                        </button>
                    </div>
                    <!-- END Add Ingredient Button-->
                </div>
                
	</div>
		
	</div>
</body>
</html>