<!DOCTYPE html>
<html>
	<head>
        <title>Owner | Today's Menu</title>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/todaysMenu.css">
		<script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
	</head>
	<body>

		<!-- START SIDE PANEL -->
{{>ownerPanel}}
		<!-- END SIDE PANEL -->

        <div class="menu-content-container">
            <!-- GRID CONTAINER -->
            <div class="containers">

                <!-- MENU AND DATE -->
                <div class="text">
                    <h1>Menu List</h1>
                    <p class="ins-text"> Checked menu items will be added to your restaurant menu for the day.</p>
                    <!-- <p>DATE: xx-xx-xx</p> -->

                    <div class="inner-grid">
                        <p>DATE TODAY: {{dateToday}}</p>
                <div>
                    <a href="/newFolder" class="inv-submit">Add Menu Group</a>
                </div>
                    </div>
                    <hr>                 
                </div>

                <!-- CATEGORY TABLE -->
				{{#each MenuGroup}}
                <div class="categoryone">
                    <div class="grid-content">
                        <table>
                            <col style="width:95%">
                            <col style="width:5%">
		
							<thead>
                                <tr>
                                    <th>{{MenuGroupName}}</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody colspan="2">
							{{#each Recipe}}
                                <tr>
                                    <td> 
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                        {{recipeName}}
                                    </td>
                                    <td><button class="view"> View </button></td>
                                </tr>
							{{/each}}
                                <tr>
                                    <td colspan="2" style="text-align:center"><a href="/newDish" class="add"> + Add New Dish</a></td>
                                </tr>
                            </tbody>    
                        </table>
                     </div>
                </div>
				{{/each}}
                <!-- END CATEGORY TABLE -->

                <!-- CATEGORY TABLE -->
            
                <!-- END CATEGORY TABLE -->
              </div>
            <!-- END GRID CONTAINER -->
        </div>

	</body>
	</html>
