<!DOCTYPE html>
<html>
    <!-- Template from https://github.com/sparksuite/simple-html-invoice-template
    Feel free to change :)  -->

	<head>
		<meta charset="utf-8" />
		<title>A simple, clean, and responsive HTML invoice template</title>
        <link rel="stylesheet" href="css/invoice.css" />
	</head>

	<body>
		<div class="invoice-box">
			<table cellpadding="0" cellspacing="0">
				<tr class="top">
					<td colspan="2">
						<table>
							<tr>
								<td class="title">
									<img src="../images/logo.png" style="width: 100%; max-width: 300px" />
								</td>

								<td>
									Invoice #: 123<br />
									Created: January 1, 2015<br />
									Due: February 1, 2015
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr class="information">
					<td colspan="2">
						<table>
							<tr>
								<td>
									Sparksuite, Inc.<br />
									12345 Sunny Road<br />
									Sunnyville, CA 12345
								</td>

								<td>
									Acme Corp.<br />
									John Doe<br />
									john@example.com
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr class="heading">
					<td>Payment Method</td>

					<td>Cash</td>
				</tr>

				<tr class="details">
					<td>Check</td>

					<td>1000</td>
				</tr>

				<tr class="heading">
					<td>Item</td>
					<td>Quantity</td>
					<td>Price</td>
				</tr>

				{{#each orderList}}
				<tr class="item">
					<td>{{orderList.recipeName}}</td>
					<td>{{orderList.Quantity}}</td>
					<td>{{orderList.Price}}</td>
				</tr>
				{{/each}}

				<tr class="total">
					<td></td>

					<td>{{totalPrice}}</td>
				</tr>
			</table>
		</div>
	</body>
</html>