<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/menulist.css">
		<script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
	</head>
	<body>
	
        {{>ownerPanel}} 

		<div class="content-container">
			<div class="menulist-container">
				<h1>Menu List</h1>
                <div class="search-box">
                    <form>
                        <input type="text" placeholder="Search" name="search">
                        <button type="submit"><i class="fa fa-search search-icon"></i></button>
                    </form>
                </div>
				<div>
					<button class="button-addfolder">+ New Folder</button>
				</div>
                <div class="menulist-box">
					<div>
						<button class="menufolder selected-folder"><span class="menulist-text">Breakfast Meals</span></button>
					</div>
					<div>
						<button class="menufolder"><span class="menulist-text">Rice Bowl Meals</span></button>
					</div>
					<div>
						<button class="menufolder"><span class="menulist-text">Meal Category 3</span></button>
					</div>
					<div>
						<button class="menufolder"><span class="menulist-text">Meal Category 4</span></button>
					</div>
					<div>
						<button class="menufolder"><span class="menulist-text">Meal Category 5</span></button>
					</div>
					<div>
						<button class="menufolder"><span class="menulist-text">Meal Category 6</span></button>
					</div>
                    <div>
						<button class="menufolder"><span class="menulist-text">Meal Category 7</span></button>
					</div>
					<div>
						<button class="menufolder"><span class="menulist-text">Meal Category 8</span></button>
					</div>
					<div>
						<button class="menufolder"><span class="menulist-text">Meal Category 9</span></button>
					</div>
				</div>
			</div>
		</div>
</body>
</html>