<!DOCTYPE html>
<html>
	<head>
		<title>Owner | Add Ingredients to Menu</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/add-ingredient.css">
		<script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
		<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	</head>
	<body>

		{{>ownerPanel}}

		<div class="content-container">
			<div class="ingredients-container">
				<h1>Add Ingredients for Recipe {{recipe.recipeID}} of {{menugroup.menuGroupName}}</h1>
				<br>
            <form action="#" method="post">
				<!-- TABLE OF TRANSACTIONS -->
				<div class = "table-container">
				    <table>
					    <thead>
					    <tr>
						    <th>Category Name</th>
						    <th>Unit</th>
						    <th>Quantity</th>
					    </tr>
					    </thead>
						<tbody>
						{{#each Ingredients}}
					    <tr>
						    <td> 
								<select name="category" id="category" class="dropdown">
									{{#each Category}}
									<option>{{categoryName}}</option>
									{{/each}}
								</select>
							</td>
						    <td>{{unitName}}</td>
						    <td> <input type="number" class="textbox-short" id="quantity" name="quantity"></td>
					    </tr>
						{{/each}}
				    </table>
						<div>
					    <button type="button" class="button-green popup"> 
                            Add Ingredient
                        </button>
						</div>
                </div>

                    <!-- START Add Ingredient Button-->
            <input type="submit" class="button-green popup" value="Submit"/>
			</div>
		</div>
</body>
</html>