<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/todaysMenu.css">
		<script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
	</head>
	<body>

        {{>ownerPanel}}

        <div class="menu-content-container">
            <div class="containers">

                <div class="text">
                    <h1>Today's Menu</h1>
                    <p>DATE: xx-xx-xx</p>
                    <hr>
                </div>

                <div class="categoryone">
                    <div class="grid-content">
                        <table>
                            <col style="width:30%">
					        <col style="width:1%">

                            <thead>
                                <tr>
                                    <th>Category One</th>
                                    <th></th>
                                </tr>
                            </thead>
                                <tr>
                                    <td>Menu Item 1</td>
                                    <td><button class="add"> + </button></td>
                                </tr>
                                <tr>
                                    <td>Menu Item 2</td>
                                    <td><button class="add"> + </button></td>
                                </tr>
                                <tr>
                                    <td>Menu Item 3</td>
                                    <td><button class="add"> + </button></td>
                                </tr>
                                <tr>
                                    <td>Menu Item 4</td>
                                    <td><button class="add"> + </button></td>
                                </tr>
                        </table>
                     </div>
                </div>

                <div class="categorytwo">
                    <div class="grid-content">
                        <table>
                            <col style="width:30%">
					        <col style="width:1%">

                            <thead>
                                <tr>
                                    <th>Category One</th>
                                    <th></th>
                                </tr>
                            </thead>
                                <tr>
                                    <td>Menu Item 1</td>
                                    <td><button class="add"> + </button></td>
                                </tr>
                                <tr>
                                    <td>Menu Item 2</td>
                                    <td><button class="add"> + </button></td>
                                </tr>
                                <tr>
                                    <td>Menu Item 3</td>
                                    <td><button class="add"> + </button></td>
                                </tr>
                                <tr>
                                    <td>Menu Item 4</td>
                                    <td><button class="add"> + </button></td>
                                </tr>
                        </table>
                     </div>
                </div>
                   
               

                <div class="categorythree">
                    <div class="grid-content">
                        <table>
                            <col style="width:30%">
					        <col style="width:1%">

                            <thead>
                                <tr>
                                    <th>Category One</th>
                                    <th></th>
                                </tr>
                            </thead>
                                <tr>
                                    <td>Menu Item 1</td>
                                    <td><button class="add"> + </button></td>
                                </tr>
                                <tr>
                                    <td>Menu Item 2</td>
                                    <td><button class="add"> + </button></td>
                                </tr>
                                <tr>
                                    <td>Menu Item 3</td>
                                    <td><button class="add"> + </button></td>
                                </tr>
                                <tr>
                                    <td>Menu Item 4</td>
                                    <td><button class="add"> + </button></td>
                                </tr>
                        </table>
                     </div>
                </div>

                <div class="categoryfour">
                    <div class="grid-content">
                        <table>
                            <col style="width:30%">
					        <col style="width:1%">

                            <thead>
                                <tr>
                                    <th>Category One</th>
                                    <th></th>
                                </tr>
                            </thead>
                                <tr>
                                    <td>Menu Item 1</td>
                                    <td><button class="add"> + </button></td>
                                </tr>
                                <tr>
                                    <td>Menu Item 2</td>
                                    <td><button class="add"> + </button></td>
                                </tr>
                                <tr>
                                    <td>Menu Item 3</td>
                                    <td><button class="add"> + </button></td>
                                </tr>
                                <tr>
                                    <td>Menu Item 4</td>
                                    <td><button class="add"> + </button></td>
                                </tr>
                        </table>
                     </div>
                </div>


                <div class="categoryfive">
                    <div class="grid-content">
                        <table>
                            <col style="width:30%">
					        <col style="width:1%">

                            <thead>
                                <tr>
                                    <th>Category One</th>
                                    <th></th>
                                </tr>
                            </thead>
                                <tr>
                                    <td>Menu Item 1</td>
                                    <td><button class="add"> + </button></td>
                                </tr>
                                <tr>
                                    <td>Menu Item 2</td>
                                    <td><button class="add"> + </button></td>
                                </tr>
                                <tr>
                                    <td>Menu Item 3</td>
                                    <td><button class="add"> + </button></td>
                                </tr>
                                <tr>
                                    <td>Menu Item 4</td>
                                    <td><button class="add"> + </button></td>
                                </tr>
                        </table>
                     </div>
                </div>

                <div class="categorysix">
                    <div class="grid-content">
                        <table>
                            <col style="width:30%">
					        <col style="width:1%">

                            <thead>
                                <tr>
                                    <th>Category One</th>
                                    <th></th>
                                </tr>
                            </thead>
                                <tr>
                                    <td>Menu Item 1</td>
                                    <td><button class="add"> + </button></td>
                                </tr>
                                <tr>
                                    <td>Menu Item 2</td>
                                    <td><button class="add"> + </button></td>
                                </tr>
                                <tr>
                                    <td>Menu Item 3</td>
                                    <td><button class="add"> + </button></td>
                                </tr>
                                <tr>
                                    <td>Menu Item 4</td>
                                    <td><button class="add"> + </button></td>
                                </tr>
                        </table>
                     </div>
                </div>
              </div>

        </div>

	</body>
	</html>