<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/todaysMenu.css">
		<script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
	</head>
	<body>

        {{>ownerPanel}}

        <div class="menu-content-container">
            <div class="containers">

                <div class="text">
                    <h1>Today's Menu</h1>
                    <p>DATE: {{dateToday}}</p>
                    <hr>
                </div>

                {{#each MenuGroup}}
                    <div class="categoryone">
                        <div class="grid-content">
                            <table>
                            <col style="width:95%">
					        <col style="width:5%">

                                <thead>
                                    <tr>
                                        <th>{{MenuGroup.menuGroupName}}</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each Recipe}}
                                    <tr>
                                        <td>{{recipe.recipeName}}</td>
                                        <td><button class="delete"> - </button></td>
                                    </tr>
                                    {{/each}}
                                     <tr>
                                    <td colspan="2" style="text-align:center"><button class="add"> + Add </button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                {{/each}}
              </div>

        </div>

	</body>
	</html>