<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/ingredients.css">
		<script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
	</head>
	<body>

		{{>ownerPanel}}

		<div class="content-container">
			<div class="ingredients-container">
				<h1>Ingredients of {{Recipe.recipeName}}</h1>

				<!-- TABLE OF TRANSACTIONS -->
				<div class = "table-container">
				    <table>
					    <col style="width:15%">
					    <col style="width:10%">
					    <col style="width:1%">

					    <thead>
					    <tr>
						    <th>Item Name</th>
						    <th>Quantity</th>
						    <th>Unit</th>
					    </tr>
					    </thead>
						{{#each IngredientList}}
					    <tr>
						    <td>{{IngredientList.categoryName}}</td>
						    <td>{{IngredientList.amount}}</td>
						    <td>{{IngredientList.unitID}}</td>
					    </tr>
						{{/each}}
				    </table>

                    <!-- START Add Ingredient Button-->
                    <div>
							<button class="add-button">
								Back
							</button>
                    </div>
                    <!-- END Add Ingredient Button-->
                </div>
                
	</div>
		
	</div>
</body>
</html>