<html>
    <head>
        <title>Owner | New Menu Folder</title>
        <link rel="stylesheet" href="css/createnewFolder.css" />
        <link rel="stylesheet" href="css/base.css" />
        <script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
        <script src="js/multiselect-dropdown.js"></script>

    </head>
    <body>
        <!-- START PANEL -->
        {{>ownerPanel}}
        <!-- END PANEL -->

        <div class="content-container">
            <div class="back-area">
                     <a href="/ownerMenu" class="back-button">
                        <i class="fa-solid fa-arrow-left" style="color: rgb(79, 79, 79)"> </i> 
                     Go Back
                     </a>
            </div>  


            <div class="createnew-box">
                <h1 class="header-font">Create New Menu Group</h1>
                <form action="/addFolder" method="post">
                <!-- START FOLDER NAME-->
                <div class="field-box">
                    <div>
                        <label for="foldername" class="field-font">Menu Group Name:</label>
                    </div>

                    <div>
                        <input type="text" class="textbox-long" id="foldername" name="foldername" />
                    </div>
                </div>
                <!-- END FOLDER NAME-->

                <!-- Multiselect Dropdown with Search
                    TO FIX: Appearance of Search but can be converted into hbs na -->
                {{! <div class="field-box" style="width: 100%">
                    <div>
                        <label for="additems" class = "field-font">Add Menu Items</label>
                    </div> }}

                {{! <div>
                        <select name="select" multiple multiselect-search="true" multiselect-select-all="true" class="select">
                            <option>Menu Item One</option>
                            <option>Menu Item Two</option>
                            <option>Menu Item Three</option>
                            <option>Menu Item Four</option>
                            <option>Menu Item Five</option>
                        </select>    
                    </div> }}
                {{! </div> }}
                <!-- END Multiselect Dropdown with Search -->

                <input type="submit" value="Create Menu Group" class="button-green popup" />
                </form>
            </div>
        </div>
    </body>
</html>