:root{
    /*colors to be used in application 
    Example on how to use: color: var(--clr-white);*/
    --clr-white: white;
    --clr-gray: #ced4db;
    --clr-black: black;
    --clr-green: #1b7565;
    --clr-darkgreen: #0f4d41;
    --clr-peach: #ece8da;

     /*font to be used in application 
    Example on how to use: font-family: var(--font-type2);*/
    --font-family: Verdana, Arial;
}

body{
    display: flex;
    flex-direction:row;
    margin: 0;
    padding: 0;
    background-color:var(--clr-gray);
}

.panel-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color: var(--clr-green);
    min-width:10vw;
    min-height: 100vh;
    gap: 2px;
}

.content-container{
    display:flex;
    flex-direction:row;
    gap: 5px;
    background-color: var(--clr-peach);
}   

.panel-box {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    gap:5px;
    width:5vw;
    height:10vh;
    min-width:80px;
    max-width:125px;
    min-height:80px;
    max-height:125px;
    background-color: var(--clr-white);
    border: 1px solid var(--clr-gray);
    border-radius:15%;
    margin: 7px;
}

.selected-box{
    background-color: var(--clr-gray);
}

.line-separator{
    max-width: 70%;
    width: 100px;
}

.panel-icons{
    width: 6vw;
    height:6vh;
    color: var(--clr-green);
}
.panel-text{
    font-family: var(--font-family);
    color: var(--clr-green);
    font-size:0.7em;
}

.logout-button{
    margin-top:auto;
    margin-right:auto;
    color: var(--clr-white);
    margin-left:15px;
    margin-bottom:15px;
    font-size:15px;
}

.button-primary{
    border: none;
    border-radius: 5px;
    background-color:var(--clr-white);
    border: 2px solid var(--clr-darkgreen);
    color:var(--clr-green);
    width:60%;
    height:5%;
    padding: 10px; 
    box-shadow: 0 2px 10px rgb(62, 174, 254, 0.2);
    text-align: center;
}