.menu-container{
    display:flex;
    flex-direction: column;
    min-width:60vw;
    min-height:100vh;
    background-color: goldenrod;
}

.category-box{
    display:flex;
    flex-direction: row;
    min-width:5vw;
    border: 1px solid black;
    background-color: burlywood;
    gap: 5px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.category-item{
    min-width:1vw;
    min-height:2.5vh;
    border: 1px solid black;
    background-color: royalblue;
    padding: 5px;
}

.search-box{
    min-height:2.5vh;
    margin-left: auto;
    align-self: center;
}

.checkout-container{
    display:flex;
    flex-direction: column;
    min-width:28vw;
    min-height:100vh;
    background-color: rebeccapurple;
}