* {
	box-sizing: border-box;
}

hr{
    max-width: 110%;
    width: 50vw;
}

.panel-container {
	background-color: var(--clr-green);
	position: relative;
	overflow: hidden;
	width: 110px;
	max-width: 100%;
	min-height: 900px;
}

.user-icon-container {
	position: absolute;
    margin-left: 16px;
    margin-top: 20px;
    width: 70%;
	height: 8%;
    background-color: var(--clr-white);
    border: 1px solid;
}

.line-separator{
    margin-left: -3px;
    margin-top: 80px;
}

.pos-icon-container {
	position: absolute;
    margin-left: 0px;
    margin-top: 5px;
    width: 103%;
	height: 103%;
    background-color: var(--clr-gray);
    border: 1px solid;
}

.fa-cash-register{
    color: var(--clr-gray);
    align-content: center;
}