


.containers {  
    margin: 20px;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1.5fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    grid-auto-flow: row-dense;
    grid-template-areas:
      "Profile Inventory-List"
      "Profile Inventory-List"
      "Missing-Spoilage Inventory-List";
    align-content: space-around;
    justify-content: space-between;
    grid-gap: 20px 30px;
    height: 100vh;
    width: 180vh;
    place-items: center;
    }
  
  .Profile { 
    grid-area: Profile;
    color: #1a7968;
    outline: 2px solid #1a7968;
    width: 100%;
    height: 100%;
    }
  
  .Inventory-List { 
    grid-area: Inventory-List;
    outline: 2px solid #1a7968;
    align-items: left;
    width: 100%;
    height: 100%;
    }
  
  .Missing-Spoilage { 
    grid-area: Missing-Spoilage; 
    outline: 2px solid #1a7968;
    width: 100%;
    height: 100%;
    }
  
    h1 {
        color: #1a7968;
        font-size: 20px;
        margin-left: 10px;
        text-decoration: underline;
    }
  
    h1:hover {
      color: #1a796891;
      cursor: pointer;
    }
  
    h2 {
        color: #1a7968;
        font-size: 15px;
        margin-left: 75px;
    }
  
    p {
        margin-left: 75px;
        margin-top: -10px;
        color: black;
        font-size: 12px;
    }
  
    table {
        max-width: 90%;
        margin: 0 auto;
        border-collapse: collapse;
        border: 1px solid #ddd;
    }    
  
    th, td {
        text-align:right;
        padding: 0.8em 1.5em;
        color: #6f7681;
        border-bottom: 1px solid #ddd;
        font-size: 10px;
        background-color: white;
  
    }
  
    .inventory-table {
      align-items: center;
      width: 100%;
      border-collapse: collapse;
      border: 1px solid #ddd;
    }
   
    table th:nth-child(1) {
        text-align:left;
    }
    
    table td:nth-child(1) {
        text-align: left; 
    }
  
    table th:nth-child(2) {
        text-align:left;
    }
  
    table td:nth-child(2) {
        text-align: left; 
    }
  
    table th, td:nth-child(3) {
        text-align: center;
    }
  
  
  
  
    @media (min-width: 900px) {
        .cards { grid-template-columns: repeat(2, 1fr); }
      }
      
    .prof-pic {
      color: rgb(178, 178, 178);
      width: 20vw;
      height: 20vh;
    }
        
