.page-container{
    display:flex;
    flex-direction:column;
    min-width:85vw;
    padding:50px;
    gap:10px;
}

.search-filters{
    display:flex;
    flex-direction:row;
}

.filters{
    display:flex;
    flex-direction:row;
    margin-left: auto;
    gap:20px;
}

.inventory-container{
    background-color: transparent;
}

.inventory-table {
    margin-top: 10px; 
    width: 100%;
}


.inventory-table, th, td{
    border: 1px solid #1a7968;
    border-collapse:collapse;
    padding:8px;
    text-align:center;
    color: black;
    background-color: white;
    table-layout: fixed;
}

table th:nth-child(1){
    text-align: left;
}

table th:nth-child(2){
    text-align: left;
}

table th:nth-child(3){
    text-align: right;
}

table th:nth-child(4){
    text-align: left;
}

table td:nth-child(1){
    text-align: left;
}

table td:nth-child(2){
    text-align: left;
}

table td:nth-child(3){
    text-align: right;
}

table td:nth-child(4){
    text-align: left;
}

thead th {
    font-size: 15px;
    background-color: #1a7968;
    color: white;
}

p {
    margin-top: -2px;
    margin-left: 5px;
    font-size: 20px;
    color: rgb(93, 93, 93);
}



