.page-container{
    display:flex;
    flex-direction:column;
    min-width:85vw;
    padding:50px;
    gap:10px;
}
 
.search-filters{
    display:flex;
    flex-direction:row;
}

.filters{
    display:flex;
    flex-direction:row;
    margin-left: auto;
    gap:20px;
}

.inventory-container{
    background-color:transparent;
}

.inventory-table {
    margin-top: 10px; 
    margin-bottom: 40px;
}

.inventory-table, th, td{
    width: 80%;
    border: 2px solid var(--clr-green);
    border-collapse:collapse;
    padding:8px;
    table-layout:fixed;
    color:var(--clr-green);
    background-color: white;
}


thead th{
    font-size: 15px;
}

.submit-button{
    align-items:center;
    justify-content:center;
    text-align:center;
}

.category-box{
    display:flex;
    flex-direction: row;
    min-width:5vw;
    background-color: var(--clr-peach);
    gap: 15px;
    flex-wrap: wrap;
    margin-top:30px;
    margin-bottom:10px;
}

.category-item{
    min-width:10vw;
    min-height:3vh;
    padding: 15px;
    border-color: var(--clr-green);
    border-radius: 5%;
    border-style:solid;
}

.category-text{
    font-size:1em;
    font-family: var(--font-family);
}



table th:nth-child(1) { 
    text-align: left; 
}

table th:nth-child(2) { 
    text-align: left; 
}


table th:nth-child(3) { 
    text-align: right; 
}

