


.containers {  
    margin: 20px;
    padding: 15px;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    grid-template-rows: 1fr 1fr 1.5fr;
    grid-auto-flow: row;
    grid-template-areas:
      "Announcements Grocery-List"
      "To-Do Grocery-List"
      "Sample-Statistics Sample-Statistics-2";
    align-content: space-around;
    justify-content: space-between;
    grid-gap: 20px 50px;
    height: 100vh;
    width: 180vh;
    }
  
  .Announcements { 
    grid-area: Announcements;
    color: #1a7968;
    outline: 2px solid #1a7968;
    }
  
  .To-Do { 
    grid-area: To-Do;
    outline: 2px solid #1a7968;
 
    }
  
  .Sample-Statistics { 
    grid-area: Sample-Statistics; 
    outline: 2px solid #1a7968;
    }
  
  .Grocery-List { 
    grid-area: Grocery-List; 
    outline: 2px solid #1a7968;
    
    }
  
  .Sample-Statistics-2 { 
    grid-area: Sample-Statistics-2; 
    outline: 2px solid #1a7968;
    }
  
    h1 {
        color: #1a7968;
        font-size: 20px;
        margin-left: 10px;
    }

    h2 {
        color: #1a7968;
        font-size: 15px;
        margin-left: 75px;
    }

    p {
        margin-left: 75px;
        margin-top: -10px;
        color: black;
        font-size: 12px;
    }

    table {
        max-width: 90%;
        margin: 0 auto;
        border-collapse: collapse;
        border: 1px solid #ddd;
    }    

    th, td {
        text-align:right;
        padding: 0.8em 1.5em;
        color: #6f7681;
        border-bottom: 1px solid #ddd;
        font-size: 10px;
        background-color: white;

    }
   
    table th:nth-child(1) {
        text-align:left;
    }
    
    table td:nth-child(1) {
        text-align: left; 
    }

    table th:nth-child(2) {
        text-align:left;
    }

    table td:nth-child(2) {
        text-align: left; 
    }

    table th, td:nth-child(3) {
        text-align: center;
    }

  


    @media (min-width: 900px) {
        .cards { grid-template-columns: repeat(2, 1fr); }
      }
      